<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=emailreaderattachments;AccountKey=yGiADaW1cOY20pTVW4uy8qVlHHcxB6MVk9DR0WIpUbMjzBLiUES6fYdVJeA0U8G6MSMGIfiEks8dC6ZniiaHEA==;EndpointSuffix=core.windows.net"/>
		<add key="ContainerName" value="to-compress"/>
	</appSettings>
</configuration>
